.leia-mais {
    padding: .5em;
    margin: 1em;
    display: block;
    font-size: 1.25em;
    text-align: center;
    background-color: #E6E7E8;
}

.post-blog {
    padding-bottom: 30px;
    background-image: linear-gradient(to right, transparent, black, transparent);
    margin-bottom: 20px;
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: bottom center;
}
